name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Set up GraalVM for JDK 17
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: '17.0.12'
        distribution: 'graalvm'
        github-token: ${{ secrets.GITHUB_TOKEN }}
        cache: 'sbt'
    - name: Set up sbt
      uses: sbt/setup-sbt@v1
    - name: Build
      run: sbt nativeImage
    - name: UnitTests
      run: sbt test
    - name: Test
      run: cd regression-tests; export TERM=xterm; wget https://eldarica.org/yices; chmod +x yices; export PATH=`pwd`:$PATH; ./runalldirs
